{%- if site.data.theme.featured-image -%}
  {%- if site.data.theme.featured-image contains '/' -%}
    {{ site.data.theme.featured-image | relative_url }}
  {%- else -%}
    {%- assign featuredItem = site.data[site.metadata] | where: "objectid", site.data.theme.featured-image | first -%}
    {%- if featuredItem and featuredItem.filename -%}
      {{ featuredItem.filename | relative_url }}
    {%- else -%}
      {{ site.data.theme.featured-image }}
    {%- endif -%}
  {%- endif -%}
{%- endif -%}
